<!DOCTYPE html>
<html>
<head>
<title>Login here</title> 
</head>


<body>
<form method="post" action="/api/login">
	<input type="text" name="email" placeholder = "Enter Your Email" />
    <input type="password" name="password" placeholder = "Enter password"/>
	<input type="submit" value="Login">
</form>
 
</body>
<script>
	const isValidEmail = (email) => {
		if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,63})+$/.test(email))
			return true;
		else return false;
	}	
</script>
</html>